<html>
  <head>
    <script type="text/javascript" src="/static/scripts/canvasjs.min.js"></script>
    <script type="text/javascript" src="/static/scripts/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/scripts/DataGraph.js"></script>

    <script type="text/javascript">
      var graph;
  	  window.onload = function () {
        graph = new DataGraph("chartContainer");

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('pingData', function(data) {
          graph.pushDpsData(data);
          /*if (dpsmean.length > dataLength)
    			{
    				dpsmean.shift();
    			}*/
          graph.render();
        });

        socket.on('initialData', function(data) {
          var div = document.getElementById('initialData');
          console.log(data);

          div.innerHTML = div.innerHTML
            + "Request Wait: " + data.requestWait.toString()
            + " | Sample Period: " + data.samplePeriod.toString()
            + " | Saving to: " + data.saveFile;
          //div.innerHTML = div.innerHTML + data;
        });

        socket.on('initialPingData', function(data) {
          for (var initialData in data) {
            graph.pushDpsData(data[initialData]);
          }
          graph.render();
        });
  	   }
    </script>
  </head>

  <body>
    <div id="chartContainer" style="height: 95%; width:100%;">
    </div>
  </body>

  <footer>
    <div id="initialData">
      (It may take a second to load and wait for first point to be plotted) - ("-1" Means Connection Drop) <br>
    </div>
  </footer>
</html>
