<html>
  <head>
    <script type="text/javascript" src="/static/scripts/socket.io.min.js"></script>

    <script type="text/javascript">
  	  window.onload = function () {

  		var dpsmean = []; // dataPoints
      var dpsextreme = []; // dataPoints

  		var chart = new CanvasJS.Chart("chartContainer",{
  			title :{
  				text: "Ping to 8.8.8.8"
  			},
        axisX:{
          valueFormatString: "HH:mm" ,
          labelAngle: -50
        },
        axisY:{
          minimum: -1,
          maximum: 300
        },
  			data: [
          {
  				type: "line",
          showInLegend: true,
          legendText: "Mean Ping",
  				dataPoints: dpsmean
  			},
        {
          type: "line",
          showInLegend: true,
          legendText: "Extreme Ping (-1 Means Connection Drop)",
          dataPoints: dpsextreme
        }]
  		});

  		var dataLength = 4320; // number of dataPoints visible at any point
      //86400 = 60*60*24 -- 86400 / 20 <-- Sampling delay

      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('pingData', function(data) {
        console.log(data);
        dpsmean.push({
          x: new Date(data.time*1000),
          y: data.mean
        });
        dpsextreme.push({
          x: new Date(data.time*1000),
          y: data.extreme
        });
        /*if (dpsmean.length > dataLength)
  			{
  				dpsmean.shift();
  			}*/
        chart.render();
      });
  	}
	</script>
	<script type="text/javascript" src="/static/scripts/canvasjs.min.js"></script>

  </head>

  <body>
    <div id="chartContainer" style="height: 95%; width:100%;">
    </div>
  </body>

  <footer>
    <div>
      (It may take a second to load and wait for first point to be plotted)
    </div>
  </footer>
</html>
